.cryptoStats_card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 9px;
  background-color: var(--cardBig) !important;
  width: 100%;
  margin-top: 10px;
}
.cryptoStats_card .value {
  font-size: 20px;
  font-weight: bold;
  color: var(--thirdBig);
}
.cryptoStats_card .title {
  color: var(--secondColor);
  text-transform: capitalize;
}
