.content_container {
  padding: 10px 12px;
}
.sidebarSmallScreen {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--mainBg);
  z-index: 99999;
  transition: all 200ms ease-in-out;
}
.nav_sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: var(--mainBg);
}
.close {
  color: var(--mainColor) !important;
  font-size: 12px;
}
