:root {
  --mainColor: #fff;
  --secondColor: rgb(218, 211, 211);
  --mainBg: #0d1117;
  --secondBg: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  --thirdBig: #7a77ff;
  --mainBorder: rgba(221, 221, 221, 0.063);
  --cardBig: #161b22;
}

body {
  background-color: var(--mainBg) !important;
}

.logo_name {
  background: var(--secondBg);
  background-clip: text;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
}
/* golbal */
.title_header {
  font-size: 19px !important;
  margin-left: 2px;
  color: var(--mainColor) !important;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 700;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
hr {
  margin-top: 10px;
  border: 1px solid var(--mainBorder);
}
.mt-15 {
  margin-top: 15px;
}

.main_color {
  color: var(--mainColor) !important;
}
.second_color {
  color: var(--secondColor) !important;
}
.button_icon {
  border-width: 0px;
  outline-width: 0px;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 50%;
}
.button_icon:hover {
  width: fit-content;
  height: fit-content;
  background-color: var(--mainBorder);
}

.border-right {
  border-right: 1px solid var(--mainBorder);
}

input {
  border-width: 0;
  outline-width: 0;
  background-color: initial;
  color: var(--secondColor) !important;
}
/* bigger md screen*/
@media (min-width: 768px) {
  .md_block {
    display: block !important;
  }
  .md_flex {
    display: flex !important;
  }
  .md_hidden {
    display: none !important;
  }
}

/* menue  */
.ant-menu-item-selected {
  background-color: var(--cardBig) !important;
}
/* select */
.ant-select-selector,
.ant-select-arrow,
.ant-select-dropdown {
  background-color: var(--cardBig) !important;
  color: #fff !important;
}

.ant-select-item-option-content {
  color: #fff !important;
}

.ant-select-item-option-active,
.ant-select-item-option-selected {
  background-color: var(--thirdBig) !important;
}

/* react-masonry-css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
